{{- define "main" -}}

<!-- {{/* Check that user fully installed Wowchemy. */}}
{{ if not (isset site.Params "theme") }}
  {{ errorf "Please complete the installation of Wowchemy by following the steps at https://wowchemy.com/docs/install/" }}
{{ end }}

{{/* Deprecation warnings */}}

{{/* v4.5: Address changed from string to map. */}}
{{ if isset site.Params "address" }}
{{ if eq (reflect.IsMap site.Params.address) false }}
  {{ errorf "Please upgrade the `address` field in `config/_default/params.toml`. Refer to all of the Breaking Changes in v4.5 at https://wowchemy.com/updates/v4.5.0/" }}
{{ end }}
{{ end }} -->

{{/* Generate homepage. */}}
{{ if eq .Type "book" }}
  {{ partial "book_layout.html" . }}
{{ else }}
  {{ partial "widget_page.html" . }}
{{ end }}

<div class="media stream-item">
  <div class="media-body">

    <div class="section-subheading article-title mb-0 mt-0">
      HELLO
    </div>


    <div class="article-candy">
      <details>
        <summary style=color:blue>Abstract (click to expand)</summary> Nonemployment is often posited as a worker’s
        outside option in wage-setting models such as bargaining and wage posting. The value of nonemployment is
        therefore a key determinant of wages. We measure the wage effect of changes in the value of nonemployment among
        initially employed workers. Our quasi-experimental variation in the value of nonemployment arises from four
        large reforms of unemployment insurance (UI) benefit levels in Austria. We document that wages are insensitive
        to UI benefit changes; point estimates imply a wage response of less than $0.01 per $1.00 UI benefit increase,
        and we can reject sensitivities larger than $0.03. The insensitivity holds even among workers with low wages and
        high predicted unemployment duration, and among job switchers hired out of unemployment. The insensitivity of
        wages to the nonemployment value presents a puzzle to the widely used Nash bargaining model, which predicts a
        sensitivity of $0.24–$0.48. Our evidence supports wage-setting models that insulate wages from the value of
        nonemployment.
      </details> <em>
        <font size="3.5"> <strong>The Quarterly Journal of Economics</strong>, Volume 135, Issue 4, November 2020, Pages
          1905–1963. </font>
      </em>
    </div>
    </a>


    <div class="stream-meta article-metadata">




      <div>


        <span>
          Simon Jäger</span>, <span>
          Benjamin Schoefer</span>, <span>
          Samuel Young</span>, <span>
          Josef Zweimüller</span>
      </div>

    </div>


    <div class="btn-links">















      <a class="btn btn-outline-primary btn-page-header btn-sm" href="/uploads/jsyz_2020.pdf" target="_blank"
        rel="noopener">
        PDF
      </a>















      <a class="btn btn-outline-primary btn-page-header btn-sm"
        href="https://doi.org/https://doi.org/10.1093/qje/qjaa016" target="_blank" rel="noopener">
        DOI
      </a>













      <a class="btn btn-outline-primary btn-page-header btn-sm"
        href="https://academic.oup.com/qje/article/135/4/1905/5838866?login=true" target="_blank" rel="noopener">
        Publisher's Version</a>












      <a class="btn btn-outline-primary btn-page-header btn-sm" href="http://economics.mit.edu/files/17299"
        target="_blank" rel="noopener">
        Slides</a>


    </div>



  </div>
  <div class="ml-3">



    <img src="/publication/jsyz_2020/featured_hu2db3814758c00e1df84a5e5acf255652_90804_150x0_resize_q75_lanczos.jpeg"
      alt="Wages and the Value of Nonemployment" loading="lazy">
    </a>

  </div>
</div>

{{- end -}}
